/*NEGRO= #191919 */
/*BLANCO= #FFFFF2 */
/*AMARILLO= #E6DA50 */
/*ROJO= #E66659 */
/*VERDE= #26D926 */
/*AZUL= #268FFF  */
/*CELESTE= #4FC9FF  */
/*ROSA= #FF85A8  */

body{
	font-family: monospace;
	color: #FFFFF2;
	background: #191919;
	text-align: center;
}

p{
	font-size: 18px;
}

.mucho-texto, .p-titulo{
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	line-height: 1.2;
}

.p-titulo, .p-homepage-titulo{
	color: #E6DA50;
	font-weight: bold;
}

.p-homepage-titulo{
	margin: 0px;
	font-size: 36px;	
}

h1{
	font-size: 36px;
	color: #E6DA50;
}

a{
	font-weight: bold;
	color: #4FC9FF;
	text-decoration: none;
}

a:hover{
	color: #FFFFF2;
}

.homepage-link{
	color: #E6D77D;
	font-weight: normal;
	font-size: 16px;
}

.footer-link{
	font-weight: normal;
	color: #FF85A8;
}

img{
	max-width: 125px;
	max-height: 125px;
}

.homepage-img{
	max-width: 250px;
	max-height: 450px;
	border: solid 4px #E6DA50;
}

.div-homepage-maestro{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.div-homepage-texto{
	float: left;
	padding-right: 80px;
	padding-top: 150px;
	text-align: left;
}

.div-homepage-imagen{
	float: right;
	padding-left: 80px;
}
