body{
	overflow-x: hidden;
	font-family: "Lucida Console", monospace;
	color: #FFFFF2;
	background: #191919;
	text-align: center;
}

.footer-p{
	padding: 10px;
	font-size: 10px;
}

p{
	font-size: 16px;
}

.big-text, .p-titulo{
	text-align: justify;
	margin-left: 80px;
	margin-right: 80px;
	line-height: 1.3;
}

.p-titulo{
	color: #E6DA50;
	font-weight: bold;
}

h1{
	font-size: 28px;
}

h1, a{
	color: #E66659;
}

a{
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: #FFFFF2;
}

.link{ 
	font-weight: bold;
	font-size: 16px;
}

.my-header1{
	margin: 25px;
}

img{
	max-width: 125px;
	max-height: 125px;
}

.logo{
	float: left;
	max-width: 25px;
	max-height: 20px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 0px;
}

.logo-titulo{
	margin-top: 0px;
	color: #E66659;
	animation: type 3.5s steps(20);
	overflow: hidden;
	white-space: nowrap;
	border-right: 4px solid #E66659;
	width: 20ch;
	font-weight: bold;
}

@keyframes type{
	0% {
		width:0ch;
	}
}

.nav{
	margin-top: 0px;
	float:right;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 18px;
}
